<launch>
  
  <!-- Map server -->                                                                 
  <!-- TODO: Make a map -->
  <!--arg name="map_file" default="$(find cloud_robotics)/maps/osu_test.yaml"/-->                   
  <arg name="map_file" default="$(find cloud_robotics)/maps/world_2.world.yaml"/>                   
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- AMCL parameters --> 
  <arg name="initial_pose_x" default="0.0"/> 
  <arg name="initial_pose_y" default="0.0"/> 
  <arg name="initial_pose_a" default="0.0"/>
  <arg name="amcl_node_name" default="test_amcl"/>
  <arg name="scan_topic" default="scan"/>
  <arg name="computation_loc" value="client"/>
  
  <!-- launch AMCL --> 
  <include file="$(find cloud_robotics)/launch/actual_turtlebot/amcl.launch.xml">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
    <arg name="amcl_node_name" value="$(arg amcl_node_name)"/>
    <arg name="scan_topic" value="$(arg scan_topic)"/>
    <arg name="computation_loc" value="$(arg computation_loc)"/>
  </include>

</launch>
