<launch>

  <!-- Make sure to run `export ROBOT=sim` -->
  <include file="$(find pr2_machine)/sim.machine" />

  <!-- launch map and map server -->
  <arg name="map_file" default="$(find cloud_robotics)/maps/map_2.yaml" />
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" respawn="true"/>

  <arg name="world_file"  default="$(find cloud_robotics)/worlds/world_2.world"/> 
  
  <!-- launch Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">  
    <arg name="world_name" value="$(arg world_file)" />          
  </include>                                                     

  <!-- Launch the PR2 -->
  <include file="$(find pr2_gazebo)/launch/pr2.launch" />
  
  <!-- Broken in Hydro: package not referencing binaries properly --> 
  <include file="$(find pr2_navigation_perception)/ground_plane.xml" />

  <!-- launch our AMCL. NOTE: Currently just uses base_scan -->
  <include file="$(find cloud_robotics)/launch/pr2/amclpr2.launch" />  

  <!-- Broken in Hydro: package not referencing binaries properly --> 
  <include file="$(find pr2_navigation_perception)/lasers_and_filters.xml" />

  <!-- The navigation stack and associated parameters -->
  <include file="$(find cloud_robotics)/launch/pr2/move_base.xml"/>
  
  <!-- Sets the robot's description -->
  <include file="$(find pr2_description)/robots/upload_pr2.launch" />

</launch>
